@import '../../do-not-change/colours_reset';
@import '../shared-colors';

// Warm Theme Colors

// Color system
$off_white: #F5F4EE;
//$white: #F9F8F5;
$gray-100: #FAF9F6;
$gray-200: #EBE9E2;
$gray-300: #EBE9E2;
$gray-400: #DCDAD4;
$gray-500: #CECCC6;
$gray-600: #7E7D79;
$gray-700: #4B4A48;
$gray-800: #3D3C3A;
$gray-900: #2E2E2C;
$black: #181817;

$grays: map-merge($grays, (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
));

$colors: map-merge($colors, (
        //"white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800,
        off-white: $off_white
));

$secondary: $gray-600;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: map-merge($theme-colors, (
        "secondary": $secondary,
        "light": $light,
        "dark": $dark
));