@import '../../do-not-change/colours_reset';
@import '../shared-colors';

// Light Theme Colors

// Color system
//$off_white: #f4f5f7;
$off_white: #f2f4f5;

$colors: map-merge($colors, (
        off-white: $off_white
));
