@import '../../do-not-change/variables_reset';
@import '../shared-variables';

// Light Theme Variables

// Body
$body-bg: map-get($colors, off-white);

// Links
$link-color: $bhp_blue_3;

// Components
$border-color: rgba($black, .15);

// Fonts
$text-muted: $body-color;

// Scaffolding
$fa-inverse_color: $white;

// Tables
$table-accent-bg: $gray-100;
$table-border-color: $border-color;
$table-head-color: $body-color;
$table-tr-bg: $white;

// Navs
$nav-tabs-link-color: $body-color;
$nav-tabs-active-link-color: $body-color;

// List Group
$list-group-action-color: $body-color;
$list-group-action-hover-color: $body-color;
$list-group-header-color: $body-color;

// Alerts
$alert-text-color: $body-color;
$alert-link-color: $body-color;

// Toggle Switch
$toggle-switch-border-color: $body-color;
