.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  position: relative;
  display: block;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }
}

.accordion-item-header {
  position: relative;
  padding: $list-group-item-padding-y 2 * $list-group-item-padding-x;
  cursor: pointer;

  .accordion-item-header-arrow {
    position: absolute;
    left: 0.6 * $list-group-item-padding-x;
  }
}

.accordion-item-body {
  padding: $list-group-item-padding-y 2 * $list-group-item-padding-x;
}
