.alert {
  border: none;
  padding: 25px 30px;
  color: $alert-text-color;
  .alert-link {
    color: $alert-link-color;
  }
  &.alert-success {
    background-color: rgba(theme-color("success"), 0.4);
    border-left: 5px solid theme-color("success");
  }
  &.alert-info {
    background-color: rgba(theme-color("info"), 0.3);
    border-left: 5px solid theme-color("info");
  }
  &.alert-warning {
    background-color: rgba(theme-color("warning"), 0.5);
    border-left: 5px solid theme-color("warning");
  }
  &.alert-danger {
    background-color: rgba(theme-color("danger"), 0.4);
    border-left: 5px solid theme-color("danger");
  }
}

