
a.btn,
button.btn {
  &.btn-outline,
  &.btn-outline-secondary {
    @extend .btn-outline-dark;
    border: 1px solid rgba($body-color, 0.4);
    &:focus,
    &:hover {
      background: rgba($body-color, 0.2);
      border: 1px solid rgba($gray-700, 0.4);
      color: $body-color !important;
    }
    &:active,
    &.active {
      color: $body-bg !important;
    }
  }
}

 //Disabled Styles
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  color: $body-color !important;
  background-color: rgba($body-color, .3) !important;
  border-color: $border-color !important;
  cursor: not-allowed !important;
  opacity: .3 !important;
  &:focus,
  &:hover {
    box-shadow: none !important;
    transition: inherit !important;
  }
}