
// Disabled Styles
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  color: $body-color !important;
  background-color: rgba($body-color, .2) !important;
  border-color: $border-color !important;
  cursor: not-allowed !important;
  opacity: .3 !important;
  &:focus,
  &:hover {
    box-shadow: none !important;
    transition: inherit !important;
  }
}