.floating-badge-outer {
  display: inline-block;
  position: relative;

  .floating-badge {
    position: absolute;
    bottom: 100%;
    left: 100%;

    margin-bottom: -0.5 * $spacer;
    margin-left: -0.5 * $spacer;
  }
}
