.nav-tabs {
  .nav-link {
    border-top: 0;
    border-right: 0;
    border-left: 0;

    color: $nav-tabs-link-color;
    cursor: pointer;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-width: $nav-tabs-link-active-border-width;
    border-color: $nav-tabs-link-active-border-color;
  }
}