// Table Default

.table {

  // Table Header
  > thead {
    > tr {
      > th,
      > td {
        border-width: 1px;
      }
      > th {
        border-top: none;
      }
    }
  }

  // Table Body
  > tbody {
    > tr {
      background-color: $table-tr-bg;
      &:last-child {
        > th,
        > td {
          border-bottom: 1px solid $gray-300;
        }
      }
    }
  }
}
