a {
  cursor: pointer;
}

@each $class in h1, h2, h3, h4, h5, h6 {
  .#{$class}-light {
    @extend .#{$class};
    font-weight: normal;
  }
}

.text-muted {
  opacity: 0.25;
}

.fa-inverse {
   color: $fa-inverse_color;
 }

@each $item in $bhp-colors {
  .text-#{nth($item, 1)} {
    color: nth($item, 2) !important;
  }
  .bg-#{nth($item, 1)} {
    background-color: nth($item, 2) !important;
  }
}