a {
  cursor: pointer;
}

@each $class in h1, h2, h3, h4, h5, h6 {
  .#{$class}-light {
    @extend .#{$class};
    font-weight: normal;
  }
}

.text-muted {
  opacity: 0.5;
}

.fa-inverse {
  color: $fa-inverse_color;
}