@import '../../do-not-change/variables_reset';
@import '../shared-variables';

// Dark Theme Variables

// Links
$link-color: $bhp_blue_4;
$link-hover-color: lighten($link-color, 15%);

// Tables
$table-border-color: map-get($theme-colors, theme-darker-color);
$table-head-bg: $gray-300;
$table-tr-bg: $gray-200;

// Forms
$input-bg: map-get($theme-colors, theme-darker-color);
$input-disabled-bg: $gray-400;
$input-color: $body-color;
$input-border-focus: $white;
$input-focus-color: $black;
$input-color-placeholder: $gray-700;
$input-group-addon-color: $body-color;
$input-group-addon-bg: $gray-400;
$custom-select-color: $body-color;
$custom-select-bg: map-get($theme-colors, theme-darker-color);
$custom-select-disabled-bg: $gray-400;
$custom-control-indicator-bg: map-get($theme-colors, theme-darker-color);

// Dropdowns
$dropdown-bg: $gray-600;
//$dropdown-border-color: $border-color;
//$dropdown-divider-bg: $gray-200;
//$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175);
//$dropdown-link-color: $gray-700;
//$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-500;
//$dropdown-link-active-color: $component-active-color;
//$dropdown-link-active-bg: $component-active-bg;
//$dropdown-link-disabled-color: $gray-600;
//$dropdown-header-color: $gray-600;

// Cards
$card-cap-bg: $gray-300;
$card-bg: $gray-100;

// Tooltips
$tooltip-color: $black;
$tooltip-bg: $white;
$tooltip-arrow-color: $tooltip-bg;

// Popovers
$popover-bg: $gray-500;
$popover-header-bg: lighten($popover-bg, 3%);
$popover-arrow-color: $popover-bg;


// List groups
$list-group-bg: $gray-100;
$list-group-hover-bg: $gray-100;
$list-group-disabled-bg: $list-group-bg;

// Close
$close-color: $body-color;
