//@import '../../do-not-change/colours_reset';
@import '../shared-colors';

// Dark Theme Colors

// Color system
$gray-100: #3F414E;
$gray-200: #4a4b58;
$gray-300: #525361;
$gray-400: #5E5E6B;
$gray-500: #60606D;
$gray-600: #767684;
$gray-700: #C8C8C8;
$gray-800: #EBEBEB;
$gray-900: #FFFFFF;

$grays: map-merge($grays, (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
));

$colors: map-merge($colors, (
        "gray": $gray-600,
        "gray-dark": $gray-800
));

$secondary: $gray-600;
$light: $gray-100;
$dark: $gray-800;
$theme-bg-color: #323442;
$theme-darker-color: #282a38;

$theme-colors: map-merge($theme-colors, (
        "secondary": $secondary,
        "light": $light,
        "dark": $dark,
        "theme-bg-color": $theme-bg-color,
        "theme-darker-color": $theme-darker-color
));