@import 'shared-before';

$secondary: $gray-200;

$body-color: white;
$body-bg: #333;

$pre-color: $gray-200;

$list-group-bg: $body-bg;
$list-group-border-color: $gray-600;

$nav-tabs-link-active-color: $body-color;

// This is combined with an override to make text-muted have opacity 0.5
$text-muted: $body-color;

$card-bg: $body-bg;
$card-border-color: $gray-600;

$modal-content-bg: $body-bg;
$modal-content-border-color: $gray-500;
$modal-header-border-color: $gray-500;

$close-color: $body-color;

$navbar-light-color:                rgba(white, .5);
$navbar-light-hover-color:          rgba(white, .7);
$navbar-light-active-color:         rgba(white, .9);
$navbar-light-disabled-color:       rgba(white, .3);
$navbar-light-toggler-border-color: rgba(white, .1);

$pagination-hover-color: $body-color;
$pagination-hover-bg: $gray-700;
$pagination-hover-border-color: $gray-700;

$pagination-disabled-color: inherit;
$pagination-disabled-bg: inherit;
$pagination-disabled-border-color: inherit;

$popover-bg: $gray-700;
$popover-border-color: $gray-700;

$tooltip-bg: $gray-900;

@import 'shared-after';
