// This is combined with an override to make text-muted have opacity 0.5
$text-muted: $body-color;

$nav-tabs-link-color: $body-color;
$pagination-color: $body-color;

$toggle-switch-border-color: $body-color;
