// This corresponds to 13px (16px browser default)
//$font-size-base: 0.8125rem;
$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-xs: .75em  !default;

// OBSOLETE
$border-radius-xs: .2rem !default;
$btn-border-radius-xs: $border-radius-xs !default;
//


$gray-100: #f9f9f9;
$gray-200: #f3f3f3;
$gray-300: #ececec;
$gray-400: #dddddd;
$gray-500: #a5a5a5;
$gray-600: #7e7e7e;
$gray-700: #4a4a4a;
$gray-750: #434857;
$gray-800: #2A2D33;
$gray-900: #212529;

//$bhp_orange_1: #dd5900;
//$bhp_orange_2: #f77f00;
//$bhp_orange_3: #fcba5e;
//$bhp_orange_4: #ffd691;
//$bhp_purple_1: #663366;
//$bhp_purple_2: #993399;
//$bhp_purple_3: #cc6699;
//$bhp_purple_4: #e8e0e8;
//$bhp_blue_1: #1d4f91;
//$bhp_blue_2: #0a6cb4;
//$bhp_blue_3: #0099cc;
//$bhp_blue_4: #d7ebff;
//$bhp_turquoise_1: #01515f;
//$bhp_turquoise_2: #007E98;
//$bhp_turquoise_3: #6ec9da;
//$bhp_turquoise_4: #cee9ef;
//$bhp_green_1: #035d55;
//$bhp_green_2: #06ad96;
//$bhp_green_3: #abcc66;
//$bhp_green_4: #e0e9af;
//$bhp_blue_grey_1: #2b5368;
//$bhp_blue_grey_2: #45768b;
//$bhp_blue_grey_3: #6ba4b8;
//$bhp_blue_grey_4: #bfced6;
//$bhp_grey_1: #252525;
//$bhp_grey_2: #666666;
//$bhp_grey_3: #b7b9bb;
//$bhp_grey_4: #e7e2d5;



// Generic Colours
$grey:        #A5A5A5;
$grey2:       #DDDDDD;
$light_grey:  #ECECEC;
$light_grey_2:#F3F3F3;
$super_light_grey:  #f9f9f9;
$medium_grey: #7E7E7E;
$light_beige: #F3F4EB;
$dark_grey:   #4A4A4A;
$darker_grey: #2A2D33;
$dark_red:    #AC3D12;
$red:         #ee5f5b;
$green:       #5cb85c;
$yellow:      #f0ad4e;
$blue:        #03A9F4;
$white:       #fff;
$black:       #333;
$off_white:   #fcfcfc;

$bhp_orange_1: #E16229;
$bhp_orange_2: #E98537;
$bhp_orange_3: #F5BD3E;
$bhp_orange_4: #FBDBA7;

$bhp_purple_1: #6A275D;
$bhp_purple_2: #87347B;
$bhp_purple_3: #BD4F88;
$bhp_purple_4: #D2BDCC;

$bhp_blue_1: #2B487C;
$bhp_blue_2: #00609F;
$bhp_blue_3: #1D92C4;
$bhp_blue_4: #B7CBDE;

$bhp_turquoise_1: #00626E;
$bhp_turquoise_2: #0090A7;
$bhp_turquoise_3: #56BCC7;
$bhp_turquoise_4: #B3DDDF;

$bhp_green_1: #027264;
$bhp_green_2: #00A287;
$bhp_green_3: #74BC25;
$bhp_green_4: #D3E18E;

$bhp_blue_grey_1: #385F71;
$bhp_blue_grey_2: #4E7F8E;
$bhp_blue_grey_3: #72A4B4;
$bhp_blue_grey_4: #BBCECE;

$bhp_grey_1: #414B44;
$bhp_grey_2: #757A7B;
$bhp_grey_3: #B0B1AF;
$bhp_grey_4: #E6E2D2;

$bhp_dt_gray_1: #494A58;
$bhp_dt_gray_2: #353544;
$bhp_dt_gray_3: #60606D;
$bhp_dt_gray_4: #525361;
$bhp_dt_gray_5: #5E5E6B;
$bhp_dt_gray_6: #C8C8C8;
$bhp_dt_gray_7: #3F414E;
$bhp_dt_gray_8: #767684;

$bhp-colors: (
        bhp-orange-1: $bhp_orange_1,
        bhp-orange-2: $bhp_orange_2,
        bhp-orange-3: $bhp_orange_3,
        bhp-orange-4: $bhp_orange_4,
        bhp-purple-1: $bhp_purple_1,
        bhp-purple-2: $bhp_purple_2,
        bhp-purple-3: $bhp_purple_3,
        bhp-purple-4: $bhp_purple_4,
        bhp-blue-1: $bhp_blue_1,
        bhp-blue-2: $bhp_blue_2,
        bhp-blue-3: $bhp_blue_3,
        bhp-blue-4: $bhp_blue_4,
        bhp-turquoise-1: $bhp_turquoise_1,
        bhp-turquoise-2: $bhp_turquoise_2,
        bhp-turquoise-3: $bhp_turquoise_3,
        bhp-turquoise-4: $bhp_turquoise_4,
        bhp-green-1: $bhp_green_1,
        bhp-green-2: $bhp_green_2,
        bhp-green-3: $bhp_green_3,
        bhp-green-4: $bhp_green_4,
        bhp-blue-grey-1: $bhp_blue_grey_1,
        bhp-blue-grey-2: $bhp_blue_grey_2,
        bhp-blue-grey-3: $bhp_blue_grey_3,
        bhp-blue-grey-4: $bhp_blue_grey_4,
        bhp-grey-1: $bhp_grey_1,
        bhp-grey-2: $bhp_grey_2,
        bhp-grey-3: $bhp_grey_3,
        bhp-grey-4: $bhp_grey_4,
        bhp-dt-gray-1: $bhp_dt_gray_1,
        bhp-dt-gray-2: $bhp_dt_gray_2,
        bhp-dt-gray-3: $bhp_dt_gray_3,
        bhp-dt-gray-4: $bhp_dt_gray_4,
        bhp-dt-gray-5: $bhp_dt_gray_5,
        bhp-dt-gray-6: $bhp_dt_gray_6,
        bhp-dt-gray-7: $bhp_dt_gray_7,
        bhp-dt-gray-8: $bhp_dt_gray_8,
);

$theme-colors: map-merge($bhp-colors, (
        primary: map-get($bhp-colors, bhp-orange-1),
        success: map-get($bhp-colors, bhp-green-2),
        info: map-get($bhp-colors, bhp-blue-3),
        warning: #fce05b,
        danger: #f03a36
));

$blue: map-get($bhp-colors, bhp-blue-3);

$colors: (
        dark-red: '#ac3d12',
        off-white: #fcfcfc,
);

$link-color: map-get($theme-colors, bhp-blue-3);

$pagination-bg: none;
$pagination-border-width: 0;
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-bg: none;

$nav-tabs-border-radius: 0;
$nav-link-padding-y: .4rem;
$nav-tabs-link-active-border-width: 2px;
$nav-tabs-link-active-border-color: map-get($bhp-colors, bhp-blue-3);

$btn-disabled-opacity: 0.3;

$toggle-switch-padding: 1px;
$toggle-switch-border-width: 1px;
$toggle-switch-outer-height: 28px;
$toggle-switch-font-size: 0.75rem;

$progress-height: 1.25rem;
//$progress-font-size: $font-size-base;

$spinner-size: 4rem;
$spinner-size-sm: 2rem;
$spinner-size-lg: 6rem;
