
$nav-tabs-link-color: $body-color;
$nav-tabs-active-link-color: $body-color;

$alert-text-color: $body-color;
$alert-link-color: $body-color;

$toggle-switch-border-color: $body-color;

$list-group-action-color: $body-color;
$list-group-action-hover-color: $body-color;
$list-group-header-color: $body-color;