// This corresponds to 13px (16px browser default)
$font-size-base: 0.8125rem;
$font-family-sans-serif: Arial, Helvetica, sans-serif;

$lead-font-size: 0.9375rem;
$lead-font-weight: normal;

$gray-100: #f9f9f9;
$gray-200: #f3f3f3;
$gray-300: #ececec;
$gray-400: #dddddd;
$gray-500: #a5a5a5;
$gray-600: #7e7e7e;
$gray-700: #4a4a4a;
$gray-800: #2A2D33;
$gray-900: #212529;

$bhp-colors: (
  bhp-orange-1: #dd5900,
  bhp-orange-2: #f77f00,
  bhp-orange-3: #fcba5e,
  bhp-orange-4: #ffd691,
  bhp-purple-1: #663366,
  bhp-purple-2: #993399,
  bhp-purple-3: #cc6699,
  bhp-purple-4: #e8e0e8,
  bhp-blue-1: #1d4f91,
  bhp-blue-2: #0a6cb4,
  bhp-blue-3: #0099cc,
  bhp-blue-4: #d7ebff,
  bhp-turquoise-1: #01515f,
  bhp-turquoise-2: #007E98,
  bhp-turquoise-3: #6ec9da,
  bhp-turquoise-4: #cee9ef,
  bhp-green-1: #035d55,
  bhp-green-2: #06ad96,
  bhp-green-3: #abcc66,
  bhp-green-4: #e0e9af,
  bhp-blue-grey-1: #2b5368,
  bhp-blue-grey-2: #45768b,
  bhp-blue-grey-3: #6ba4b8,
  bhp-blue-grey-4: #bfced6,
  bhp-grey-1: #252525,
  bhp-grey-2: #666666,
  bhp-grey-3: #b7b9bb,
  bhp-grey-4: #e7e2d5
);

$theme-colors: map-merge($bhp-colors, (
  primary: map-get($bhp-colors, bhp-orange-1),
  success: map-get($bhp-colors, bhp-green-2),
  info: map-get($bhp-colors, bhp-blue-3),
  warning: #fce05b,
  danger: #f03a36
));

$blue: map-get($bhp-colors, bhp-blue-3);

$colors: (
  dark-red: '#ac3d12',
  off-white: #fcfcfc,
);

$link-color: map-get($theme-colors, bhp-blue-3);

$h1-font-size: 42px;
$h2-font-size: 32px;
$h3-font-size: 30px;
$h4-font-size: 22px;
$h5-font-size: 14px;

$headings-line-height: 1.25;
$headings-font-weight: bold;

$pagination-bg: none;
$pagination-border-width: 0;
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-bg: none;

$nav-tabs-border-radius: 0;
$nav-link-padding-y: .4rem;
$nav-tabs-link-active-border-width: 2px;
$nav-tabs-link-active-border-color: map-get($bhp-colors, bhp-blue-3);

$btn-disabled-opacity: 0.3;

$toggle-switch-padding: 1px;
$toggle-switch-border-width: 1px;
$toggle-switch-outer-height: 28px;
$toggle-switch-font-size: 0.75rem;

$progress-height: 1.25rem;
$progress-font-size: $font-size-base;

$spinner-size: 4rem;
$spinner-size-sm: 2rem;
$spinner-size-lg: 6rem;
