// This corresponds to 13px (16px browser default)
$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-xs: .875rem;

// OBSOLETE
//$border-radius-xs: .2rem;
//$btn-border-radius-xs: $border-radius-xs;

// MES Dark Theme Colours
//$bhp_dt_gray_4: #525361;
//$bhp_dt_gray_6: #C8C8C8;
//$bhp_dt_gray_8: #767684;
//$bhp_dt_gray_3: #60606D;
//$bhp_dt_gray_5: #5E5E6B;
//$bhp_dt_gray_1: #494A58;
//$bhp_dt_gray_7: #3F414E;
//$bhp_dt_gray_2: #353544;

// Dark Theme Colours Combined
//$gray-100: #EBEBEB;
//$gray-200: $bhp_dt_gray_4;
//$gray-300: $bhp_dt_gray_6;
//$gray-400: $bhp_dt_gray_8;
//$gray-500: $bhp_dt_gray_3;
//$gray-600: $bhp_dt_gray_5;
//$gray-700: $bhp_dt_gray_1;
//$gray-800: $bhp_dt_gray_7;
//$gray-900: $bhp_dt_gray_2;

// Dark Theme Colours Combined
//$bhp_dt_gray_4: $gray-200;
//$bhp_dt_gray_6: $gray-300;
//$bhp_dt_gray_8: $gray-400;
//$bhp_dt_gray_3: $gray-500;
//$bhp_dt_gray_5: $gray-600;
//$bhp_dt_gray_1: $gray-700;
//$bhp_dt_gray_7: $gray-800;
//$bhp_dt_gray_2: $gray-900;

// Utilities Colours
//$black: #222;
$white: #fff;
//$off_white:   #FAFBFC;
$red: #ee5f5b;
$green: #5cb85c;
$yellow: #f0ad4e;
$blue: #03A9F4;

// BHP Colours
$bhp_orange_1: #dd5900;
$bhp_orange_2: #f77f00;
$bhp_orange_3: #fcba5e;
$bhp_orange_4: #ffd691;
$bhp_purple_1: #663366;
$bhp_purple_2: #993399;
$bhp_purple_3: #cc6699;
$bhp_purple_4: #e8e0e8;
$bhp_blue_1: #1d4f91;
$bhp_blue_2: #0a6cb4;
$bhp_blue_3: #0099cc;
$bhp_blue_4: #d7ebff;
$bhp_turquoise_1: #01515f;
$bhp_turquoise_2: #007E98;
$bhp_turquoise_3: #6ec9da;
$bhp_turquoise_4: #cee9ef;
$bhp_green_1: #035d55;
$bhp_green_2: #06ad96;
$bhp_green_3: #abcc66;
$bhp_green_4: #e0e9af;
$bhp_blue_grey_1: #2b5368;
$bhp_blue_grey_2: #45768b;
$bhp_blue_grey_3: #6ba4b8;
$bhp_blue_grey_4: #bfced6;
$bhp_grey_1: #252525;
$bhp_grey_2: #666666;
$bhp_grey_3: #b7b9bb;
$bhp_grey_4: #e7e2d5;

$bhp-colors: (
  bhp-orange-1: $bhp_orange_1,
  bhp-orange-2: $bhp_orange_2,
  bhp-orange-3: $bhp_orange_3,
  bhp-orange-4: $bhp_orange_4,
  bhp-purple-1: $bhp_purple_1,
  bhp-purple-2: $bhp_purple_2,
  bhp-purple-3: $bhp_purple_3,
  bhp-purple-4: $bhp_purple_4,
  bhp-blue-1: $bhp_blue_1,
  bhp-blue-2: $bhp_blue_2,
  bhp-blue-3: $bhp_blue_3,
  bhp-blue-4: $bhp_blue_4,
  bhp-turquoise-1: $bhp_turquoise_1,
  bhp-turquoise-2: $bhp_turquoise_2,
  bhp-turquoise-3: $bhp_turquoise_3,
  bhp-turquoise-4: $bhp_turquoise_4,
  bhp-green-1: $bhp_green_1,
  bhp-green-2: $bhp_green_2,
  bhp-green-3: $bhp_green_3,
  bhp-green-4: $bhp_green_4,
  bhp-blue-grey-1: $bhp_blue_grey_1,
  bhp-blue-grey-2: $bhp_blue_grey_2,
  bhp-blue-grey-3: $bhp_blue_grey_3,
  bhp-blue-grey-4: $bhp_blue_grey_4,
  bhp-grey-1: $bhp_grey_1,
  bhp-grey-2: $bhp_grey_2,
  bhp-grey-3: $bhp_grey_3,
  bhp-grey-4: $bhp_grey_4,

  red: $red,
  green: $red,
  yellow: $yellow,
  blue: $blue,

  //gray-100: $gray-100,
  //gray-200: $gray-200,
  //gray-300: $gray-300,
  //gray-400: $gray-400,
  //gray-500: $gray-500,
  //gray-600: $gray-600,
  //gray-700: $gray-700,
  //gray-800: $gray-800,
  //gray-900: $gray-900,
);

// Theme Colours
//$theme-colors: map-merge($bhp-colors, (
//  primary: $bhp-orange-1
//));
$theme-colors: map-merge($theme-colors, (
  "primary":    $bhp-orange-1,
  "success":    $green,
  "info":       $blue,
  "warning":    $yellow,
  "danger":     $red,
));

$blue: map-get($bhp-colors, bhp-blue-3);

$colors: (
  //off-white: $off_white,
);

// Pagination
$pagination-bg: none;
$pagination-border-width: 0;
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-color: map-get($theme-colors, primary);
$pagination-active-bg: none;

// Nav Tabs
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-width: 4px;
$nav-tabs-link-active-border-width: 4px;
$nav-tabs-link-active-border-color: map-get($theme-colors, primary);
$nav-tabs-link-active-bg: transparent;
//$btn-disabled-opacity: 0.2;

// Toogle Switch
$toggle-switch-padding: 1px;
$toggle-switch-border-width: 1px;
$toggle-switch-outer-height: 28px;
$toggle-switch-font-size: 0.75rem;

//$progress-height: 1.25rem;
//$progress-font-size: $font-size-base;

// Spinner
$spinner-size: 4rem;
$spinner-size-sm: 2rem;
$spinner-size-lg: 6rem;
